<div class="main-container">

    <h2>Dolgozók kezelése (admin)</h2>

    <h3>Új dolgozó felvétele</h3>


    <mat-accordion>

    <!-- Új dolgozó panel -->
    <mat-expansion-panel [(expanded)]="ujDolgozoMegjelenitese">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Új dolgozó felvétele
        </mat-panel-title>
        </mat-expansion-panel-header>

        <form (ngSubmit)="submitUjDolgozo()" #ujForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Név</mat-label>
            <input matInput name="nev" [(ngModel)]="ujDolgozo.nev" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="ujDolgozo.email" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" name="jelszo" [(ngModel)]="ujDolgozo.ujJelszo" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Hozzáadás</button>
        </form>
    </mat-expansion-panel>

    </mat-accordion>
    <mat-card class="list-card">

        <h3 class="sub-header">Dolgozók listája</h3>

        <table mat-table [dataSource]="dolgozok">

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let dolgozo"> {{ dolgozo.email }} </td>
            </ng-container>

            <ng-container matColumnDef="nev">
                <th mat-header-cell *matHeaderCellDef> Nev </th>
                <td mat-cell *matCellDef="let dolgozo"> {{ dolgozo.nev }} </td>
            </ng-container>

            <ng-container matColumnDef="szerepkor">
                <th mat-header-cell *matHeaderCellDef> Szerepkor </th>
                <td mat-cell *matCellDef="let dolgozo"> {{ dolgozo.szerepkor }} </td>
            </ng-container>

            <ng-container matColumnDef="gombok">
                <th mat-header-cell *matHeaderCellDef> Műveletek </th>
                <td mat-cell *matCellDef="let dolgozo">
                    <button mat-button color="accent" (click)="szerkesztDolgozo(dolgozo)">Szerkesztés</button>
                    <button mat-button color="warn" (click)="torolDolgozo(dolgozo.id)">Törlés</button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>

    <!-- Szerkesztő panel -->
    @if (szerkesztettDolgozo) {
        <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
            <mat-panel-title>Dolgozó szerkesztése: {{ szerkesztettDolgozo.nev }}</mat-panel-title>
            </mat-expansion-panel-header>

            <form (ngSubmit)="mentesDolgozo()">

            <mat-form-field appearance="fill">
                <mat-label>Név</mat-label>
                <input matInput [(ngModel)]="szerkesztettDolgozo.nev" name="nev">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="szerkesztettDolgozo.email" name="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Szerepkör</mat-label>
                    <mat-select [(ngModel)]="szerkesztettDolgozo.szerepkor" name="szerepkor">
                        @for (szerepkor of szerepkorok; track szerepkor) {
                            <mat-option [value]="szerepkor">
                                {{ szerepkor }}
                            </mat-option>
                        }
                    </mat-select>   
            </mat-form-field>

            <div>
                <mat-form-field appearance="fill">
                <mat-label>Új jelszó</mat-label>
                <input matInput type="password" [(ngModel)]="szerkesztettDolgozo.ujJelszo" name="ujJelszo">
                </mat-form-field>
                <button mat-button color="primary" (click)="ujJelszo(szerkesztettDolgozo)">Jelszó módosítása</button>
            </div>

            <div>
                <button mat-button color="primary" type="submit">Mentés</button>
                <button mat-button (click)="szerkesztettDolgozo = null">Mégse</button>
            </div>

            </form>
        </mat-expansion-panel>
        </mat-accordion>
    }
</div>