<div class="login-container">
  <mat-card class="login-card">
    <h2 class="login-title">Bejelentkezés</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required />
      </mat-form-field>

      @if (errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
      }

      <button mat-raised-button color="primary" type="submit" class="login-button">
        Bejelentkezés
      </button>
    </form>
  </mat-card>
</div>


<!--
<h2>Bejelentkezés</h2>
<form (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" name="email" [(ngModel)]="email" required>

  <br>
  <br>

  <label for="jelszo">Jelszó:</label>
  <input type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required>

  <button type="submit">Bejelentkezés</button>
</form>

@if (errorMessage) {
<p style="color:red;">{{ errorMessage }}</p>
}
-->